<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Clicoscan authorization</title>
</head>
<body>
    <main>
        <h1>
            You are logged in to clicoscan.
        </h1>
        <p>
            You can return to the desktop app !
        </p>
    </main>
</body>
<style>
main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 33vh;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    color: hsla(200, 5%, 24%, 1);
    padding: 5em;
    border-radius: 2px;
    box-shadow: 3px 5px 5px rgba(100, 100, 100, 0.7);
}
html {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
}

body {
    display: flex;
    justify-content: center;
}
</style>
</html>