:root {
  /* CSS HSL */
  --dark-color: hsla(200, 5%, 24%, 1);
  --information: rgba(15, 150, 150);
  --outlines: rgb(12, 120, 120);
  --background: rgba(255, 255, 255);
  --deactivated-background: rgba(150, 150, 150);
  --deactivated-shadow: rgba(120, 120, 120)


  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--dark-color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100vh;
  width: 100vw;
  display: flex;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--dark-color);
  background-color: var(--background);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--deactivated-shadow);
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;

}

@media (prefers-color-scheme: dark) {
}